absl-py
aiodns
aiohttp
aiosignal
appdirs
astunparse
async-timeout
attrs
Babel
bcc
bcrypt
beautifulsoup4
blinker
Bottleneck
Brlapi
Brotli
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
contourpy
cryptography
cssselect
cupshelpers
cycler
dbus-fast
dbus-python
decorator
defer
defusedxml
distro
distro-info
et-xmlfile
fido2
flatbuffers
fonttools
frozenlist
fs
gast
git-filter-repo
google-pasta
grpcio
h5py
html5lib
httplib2
idna
importlib-metadata
jaraco.classes
jeepney
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
keras
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libclang
libvirt-python
lightgbm
louis
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
more-itertools
mpmath
mtcnn
multidict
namex
netaddr
netifaces
numexpr
numpy
nvidia-nccl-cu12
oauthlib
odfpy
olefile
opencv-python
openpyxl
opt_einsum
optree
packaging
pandas
patsy
pexpect
pillow
protobuf
proton-core
proton-keyring-linux
proton-vpn-api-core
proton-vpn-daemon
proton-vpn-gtk-app
proton-vpn-network-manager
psutil
ptyprocess
py-cpuinfo
pycairo
pycares
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-gnupg
pytz
pyxdg
PyYAML
pyzbar
requests
rich
scikit-learn
scipy
seaborn
SecretStorage
sentry-sdk
setuptools
six
soupsieve
statsmodels
sympy
systemd-python
tables
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
tzdata
ubuntu-drivers-common
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
wadllib
webencodings
Werkzeug
wheel
wrapt
xdg
xgboost
shap
xkit
yarl
zipp